body {
font-family: noto mono;
background-image: url(media/SEA.jpg);
}

.container {
  background-color: #1C272C;
  height: 35px;
  margin-left: 15%;
  margin-right: 15%;
  width: 70% ;
  justify-content: center;
 display: inline-flex;
 flex-direction: row;
border-radius: 30px;
position: absolute;
top: 50%;





}

.dropdown {
  position: relative;
  display: inline-block;
  width: 15%;

}

  .dropbtn {

    background: #1C272C;
    color: white;
    border: none;
    height: 100%;
      width: 100%;
     margin-bottom: 0px;






  }

  .dropdown-content {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
  background-color: #abac7b;
padding-bottom: 5px;
  width: 100%;
  text-align: center;
  transition: all ease 0.2s;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;




}

  .dropdown-content li {
    opacity: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  display: block;



}

.dropdown-content ul{
  padding: 0px;
  margin: 0px;


}

a {

  text-decoration: none;
  color: white;
  transition: all ease 0.1s;

}





.dropdown:hover .dropbtn {background: linear-gradient(to right, #1C272C 50%, #698366 50%);
background-size: 200% 100%;
background-position:right bottom;
transition: all ease 0.2s;
}




.dropdown:hover .dropdown-content   { max-height: 300px; transition: max-height 0.32s ease-in;
  visibility: visible;
  opacity: 1;
transition-delay: 0s;}

.dropdown-content :hover {color: #1C272C;}

.dropdown:hover li {
  transition: all ease 0.5s;
  transition-delay: 0.1s;
  opacity: 1;}



.dropdown:hover path {transition: all ease 0.8s; fill: #1C272C;}
