body {
font-family: noto mono;
background-image: url(media/SEA.jpg);
margin: 0px;
}

input[type=text] {
  background-color: #1C272C;
  height: 50px;
  width: 700px;
  text-align: center;
  font-size: 20px;
  border: 0px;
  border-radius: 30px;
  color: #ffffff;
  font-family: "Noto Mono"

}

.search {

position: absolute;
top: 35%;
left: 50%;
transform: translate(-50%, -50%);

}

.time {
float: right;
font-size: 30px;
margin: 30px;
color: white;
border-style: solid;
padding: 0px;

}

p {

padding: 0px;
margin: 3px;
margin-right: 20px;
margin-left: 20px;

}



.container {
  background-color: #1C272C;
  height: 35px;
  margin-left: 20%;
  margin-right: 20%;
  width: 60% ;
  justify-content: center;
 display: inline-flex;
 flex-direction: row;
border-radius: 30px;
position: absolute;
top: 43%;






}

.dropdown {
  position: relative;
  display: inline-block;
  width: 18%;


}

  .dropbtn {

    background: #1C272C;
    color: white;
    border: none;
    height: 100%;
      width: 100%;
     margin-bottom: 0px;






  }

  .dropdown-content {
    max-height: 0px;
    visibility: hidden;
    opacity: 0;
  background-color: white;
padding-bottom: 5px;
  width: 100%;
  text-align: center;
  transition: all ease 0.2s;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;





}

  .dropdown-content li {
    opacity: 0;
  padding-bottom: 5px;
  padding-top: 5px;
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  display: block;



}

.dropdown-content ul{
  padding: 0px;
  margin: 0px;


}

a {

  text-decoration: underline;
  color: #1C272C;
  transition: all ease 0.1s;

}





.dropdown:hover .dropbtn {background: linear-gradient(to right, #1C272C 50%, #ffffff 50%);
background-size: 200% 100%;
background-position: bottom right;
border-bottom: 1px solid #1C272C;
transition: all ease 0.2s;
}




.dropdown:hover .dropdown-content   { max-height: 500px; transition: max-height 0.32s ease-in;
  visibility: visible;
  opacity: 1;
transition-delay: 0s;}

.dropdown-content :hover {color: #46616e;}

.dropdown:hover li {
  transition: all ease 0.5s;
  transition-delay: 0.1s;
  opacity: 1;}



.dropdown:hover path {transition: all ease 0.8s; fill: #1C272C;}
